---
permalink: /examples/admin-email/index.html
title: Admin Email Notifications Settings
forms:
  - name: Assigned for Review
    when_string: a community submission has been assigned for review
    bcc:
      - alex.martinez@verisk.com
      - rachel.tan@cognetix.net
      - jordan.fields@metriclane.com
      - keisha.singh@vizlogix.io
    cc:
      - simon.baker@quantivus.com
      - monica.perez@insightworks.ai
  - name: Final Submit
    when_string: a community has submitted their application package
    bcc:
      - rachel.tan@vizlogix.com
      - keisha.singh@metriclane.com
  - name: Failure Notifications
    when_string: there are application failures
    bcc:
      - emily.chen@verisk.com
      - daniel.roth@cleardatahub.org
  - name: New Community User
    when_string: a new community user has been created
    bcc:
      - daniel.roth@cleardatahub.org
      - emily.chen@trendex.io
      - tom.andrews@dataforge.co
  - name: New Data Viz
    when_string: a new data visualization has been posted
    bcc:
      - alex.ramirez@trendex.io
      - o.connor@strategiqdata.org
      - chris@aol.com
  - name: Recertification Completed
    when_string: a community has completed its recertification
    bcc:
      - o.connor@strategiqdata.org
      - natalie.wu@deepintel.co
      - david.lee@acmeanalytics.io
      - steve@verisk.com
  - name: Tech Review Completed
    when_string: a technical review has been completed
    bcc:
      - alicia.nguyen@vizlogix.com
      - l.michaels@cleardatahub.org
      - devon.hughes@quantivus.com
  - name: Tech Review Rejected
    when_string: a technical review has been rejected
    bcc:
      - maya.henderson@insightworks.ai
      - chris.jameson@metriclane.com
      - olivia.ramos@trendex.io
      - theo.clark@analytiq.com
---

{% include "partials/header.liquid" %}
{% include "partials/admin-subheader.html" %}

<div style="height: calc(100% - 163px);" ui-view="" class="ng-scope">
  <div id="landing">
    <aside class="sidebar px-0" >
      {% include "partials/admin-sidebar.liquid" %}
    </aside>
    <main class="admin--main py-3 px-4">
      <h2 class="mt-3">{{ title }}</h2>
      <hr class="mb-3">
      <menu class="d-flex justify-content-end">
        <button type="button" class="btn btn-small btn-secondary">Save Changes</button>
      </menu>
      {% assign sortedForms = forms | sort: "name" %}
      {% for item in sortedForms %}
        <details class="bg-white border rounded mb-3">
          <summary class="d-flex flex-column justify-content-between flex-lg-row align-items-center py-2 px-3 rounded-top" data-bs-toggle="collapse"
            href="#{{ item.name | slugify }}" role="button" aria-expanded="false" aria-controls="{{ item.name | slugify }}">
            {% if item.bcc.size and item.cc.size %}
              {% assign numberOfRecipients = item.bcc.size | plus: item.cc.size %}
            {% else %}
              {% assign numberOfRecipients = item.bcc.size %}
            {% endif %}
            <h6 class="mb-0">{{ item.name }} <small class="badge bg-secondary ms-2 ng-binding">{{ numberOfRecipients  | default: "0" }} Recipients</small></h6>
            <div class="text-text-ph">
              <i class="small material-icons d-inline-flex align-middle">expand_more</i>
            </div>
          </summary>
          <div id="{{ item.name | slugify }}" class="collapse border-top p-4">
            <form>
              {% if item.bcc %}
                <fieldset class="mb-3">
                  <label for="bcc-recipients{{ forloop.index }}" class="text-reset fs-6 fw-bold mb-1">BCC List</label>
                  <div class="border p-3">
                    {% if item.bcc.size > 0 %}
                      <div class="d-grid gap-2 d-md-block">
                        {% for recipient in item.bcc %}
                          <button type="button" class="btn btn-light">
                            <span>{{ recipient }}</span>
                            <span class="remove fw-bold" ng-click="removeEmail(event.bcc, $index)">×</span>
                          </button>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <input type="email" class="form-control mb-0" id="bcc-recipients{{ forloop.index }}" aria-describedby="emailHelp" placeholder="Add...">
                  </div>
                </fieldset>
              {% endif %}
              {% if item.cc %}
                <fieldset class="mb-3">
                  <label for="cc-recipients{{ forloop.index }}" class="text-reset fs-6 fw-bold mb-1">CC List</label>
                  <div class="border p-3">
                    {% if item.cc.size > 0 %}
                      <div class="d-grid gap-2 d-md-block">
                        {% for recipient in item.cc %}
                          <button type="button" class="btn btn-light">
                            <span>{{ recipient }}</span>
                            <span class="remove" ng-click="removeEmail(event.cc, $index)">×</span>
                          </button>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <input type="email" class="form-control mb-0" id="cc-recipients{{ forloop.index }}" aria-describedby="emailHelp" placeholder="Add...">
                  </div>
                </fieldset>
              {% endif %}
              {% if item.name == 'Final Submit' %}
                <fieldset class="mb-3">
                  <h6 class="text-reset fs-6 fw-bold mb-1">Bulk CC Assigned Specialists?</h6>
                  <div class="border p-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">
                        CC all assigned specialists for the submitting community
                      </label>
                    </div>
                </fieldset>
              {% endif %}
              <p class="form-text ng-binding">
                Emails will receive notification when <mark>{{ item.when_string }}</mark>.
              </p>
            </form>
          </div>
        </details>
      {% endfor %}
    </main>
  </div>
</div>
