---
title: 350WEB1 • Scoring Worksheet
sheet_type: nomodal
webtopics:
  - name: Know your flood hazard
    maxpoints: 7
    subtopics:
      - label: Names of bodies of water
        points: 1
      - label: Floodplain map
        points: 1
      - label: Other information
        points: 1
      - label: 'Hazard description (e.g., flash flooding)'
        points: 2
      - label: Information on past floods
        points: 2
      - label: 'Detailed floodplain map (e.g., with parcels or buildings identified)'
        points: 3
      - label: >-
          Link to a local (not FEMA) site that provides hazard information by
          address
        points: 7
  - name: Insure your property for your flood hazard
    maxpoints: 7
    subtopics:
      - label: Homeowners insurance excludes flood
        points: 1
      - label: NFIP is available in the community
        points: 1
      - label: 30 day waiting period
        points: 1
      - label: 'Facts of coverage (structural, contents)'
        points: 2
      - label: Rating information
        points: 2
      - label: Link to FloodSmart or FEMA.gov's NFIP page
        points: 2
      - label: Names of local insurance agents
        points: 2
  - name: Protect people from the hazard
    maxpoints: 12
    subtopics:
      - label: Don't drive in flooded areas
        points: 1
      - label: Flood warning signals
        points: 1
      - label: Link to the emergency response plan
        points: 2
      - label: 'Safety tips for bldgs. (shutting off gas, etc.)'
        points: 2
      - label: Evacuation routes and shelters
        points: 2
      - label: Safety tips for evacuation
        points: 2
      - label: Map or information on areas predicted to flood
        points: 3
  - name: Protect your property from the hazard
    maxpoints: 7
    subtopics:
      - label: Discussion only of wind/hurricane damage
        points: 1
      - label: Importance of maintaining the drainage system
        points: 1
      - label: Ways to permanently retrofit a building
        points: 2
      - label: Emergency floodproofing measures
        points: 2
      - label: How to report dumping in the drainage system
        points: 2
      - label: Detailed discussion of permanent retrofit measures
        points: 7
      - label: >-
          Link to a locally pertinent property protection website or reference
          (e.g., FEMA's “Six Ways to Protect Your Home”)
        points: 7
  - name: Build responsibly
    maxpoints: 7
    subtopics:
      - label: All floodplain development needs a local permit
        points: 1
      - label: 'Name, address or # of permit office'
        points: 1
      - label: How to report illegal floodplain development
        points: 1
      - label: Summary of the rules for new construction
        points: 2
      - label: Substantial improvement rules
        points: 2
      - label: Substantial damage rules
        points: 2
      - label: >-
          Link to relevant building code sections or the floodplain management
          ordinance
        points: 2
  - name: Protect natural floodplain functions
    maxpoints: 7
    subtopics:
      - label: Description of the area's natural functions
        points: 2
      - label: Regulations that protect natural functions
        points: 2
      - label: Map of natural areas
        points: 3
  - name: PPI Topic
    maxpoints: 7
    subtopics:
      - label: Lorem ipsum sit dolores amit maximus
        points: 7
  - name: PPI Topic
    maxpoints: 7
    subtopics:
      - label: Lorem ipsum sit dolores amit maximus
        points: 7
  - name: PPI Topic
    maxpoints: 7
    subtopics:
      - label: Lorem ipsum sit dolores amit maximus
        points: 7
  - name: PPI Topic
    maxpoints: 7
    subtopics:
      - label: Lorem ipsum sit dolores amit maximus
        points: 7
---

<table class="table table-sm table-bordered table-hover worksheet-table mb-0">
  <caption class="sr-only">{{ title }}</caption>
  <thead>
    <tr>
      <th class="bg-bg-blue align-middle" scope="col">Topic</th>
      <th class="bg-bg-blue align-middle" scope="col">Subtopic</th>
      <th class="bg-bg-blue align-middle text-center" scope="col">Max Pts</th>
      <th class="bg-bg-blue align-middle text-center" scope="col" style="width:10px;">Score</th>
    </tr>
  </thead>
  <tbody>
  {% for topic in webtopics %}
    {% assign outerloop = forloop.index %}
    {% assign num_subtopics = topic.subtopics | size %}
    {% for subtopic in topic.subtopics %}
      <tr>
        {% if forloop.first %}
          <th {% if topic.name == 'PPI Topic' %}class="align-middle"{% else %}class="align-top"{% endif %} scope="row" rowspan="{{ topic.subtopics | size }}">
            {{ outerloop }}. {{ topic.name }}
            {% unless topic.name == 'PPI Topic' %}
              <div class="font-weight-normal text-muted">Maximum points: {{ topic.maxpoints }}</div>
            {% endunless %}
          </th>
        {% endif %}
        <td class="align-middle">
          {% if topic.name == 'PPI Topic' %}
            <input type="text" class="browser-default form-control" id="inputDesc" placeholder="Description">
          {% else %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox_{{ outerloop }}-{{ forloop.index }}" value="option{{ forloop.index }}" onchange="toggleRow(this)">
              <label class="form-check-label" for="inlineCheckbox_{{ outerloop }}-{{ forloop.index }}">{{ subtopic.label }}</label>
            </div>
          {% endif %}
        </td>
        <td data-subtopic-points="{{ subtopic.points }}" class="text-center text-muted align-middle">{{ subtopic.points }}</td>
        {% if forloop.first %}
          <td rowspan="{{ num_subtopics }}" class="text-center align-middle">
            {% if topic.name == 'PPI Topic' %}
              <input type="text" class="browser-default form-control text-center" id="inputPts" placeholder="0">
            {% else %}
              0
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="4" class="text-right text-purple px-2 align-middle">WEB1 = 0</th>
    </tr>
  </tfoot>
</table>
