---
title: 510FMP • Floodplain Management Planning Credit Worksheet
sheet_type: nomodal
fmptopics:
  - name: Organize to prepare the plan
    maxpoints: 15
    steps:
      - label: a. Involvment of Office Responsible for Community Planning
        points: 4
        has_substeps: false
        is_substep: false
      - label: b. Planning committee of department staff
        points: 9
        has_substeps: false
        is_substep: false
      - label: c. Process formally created by the community’s governing board
        points: 2
        has_substeps: false
        is_substep: false
  - name: Involve the public
    maxpoints: 120
    steps:
      - label: a. Planning process conducted through a planning committee
        points: 60
        has_substeps: false
        is_substep: false
      - label: b. Public meetings held at the beginning of the planning process
        points: 15
        has_substeps: false
        is_substep: false
      - label: c. Public meeting held on draft plan
        points: 15
        has_substeps: false
        is_substep: false
      - label: d. Other public information activities to encourage input
        points: 30
        has_substeps: false
        is_substep: false
  - name: Coordinate with other agencies
    maxpoints: 35
    steps:
      - label: 'a. Review of existing studies and plans [ REQUIRED ]'
        points: 5
        has_substeps: false
        is_substep: false
      - label: 'b. Coordinating with communities and other agencies '
        points: 30
        has_substeps: false
        is_substep: false
  - name: Assess the hazard
    maxpoints: 35
    steps:
      - label: 'a. Review of existing studies and plans [ REQUIRED ]'
        points: 15
        has_substeps: true
        is_substep: false
      - label: (1) A map of known flood hazards
        points: 5
        has_substeps: false
        is_substep: true
      - label: (2) A description of known flood hazard
        points: 5
        has_substeps: false
        is_substep: true
      - label: (3) A discussion of past floods
        points: 5
        has_substeps: false
        is_substep: true
      - label: b. Plan includes assessment of less frequent floods
        points: 10
        has_substeps: false
        is_substep: false
      - label: c. Plan includes assessment of areas likely to flood
        points: 5
        has_substeps: false
        is_substep: false
      - label: 'd. The plan describes other natural hazards [REQUIRED FOR DMA]'
        points: 30
        has_substeps: false
        is_substep: false
  - name: Assess the problem
    maxpoints: 52
    steps:
      - label: >-
          a. Summary of each hazard identified in the hazard assessment and their
          community impact [REQUIRED]
        points: 2
        has_substeps: false
        is_substep: false
      - label: 'b. Description of the impact of the hazards on:'
        points: 25
        has_substeps: true
        is_substep: false
      - label: '(1) Life, safety, health, procedures for warning and evacuation'
        points: 5
        has_substeps: false
        is_substep: true
      - label: (2) Public health inlcuding health hazards to floodwaters/mold
        points: 5
        has_substeps: false
        is_substep: true
      - label: (3) Critical facilities and infrastructure
        points: 5
        has_substeps: false
        is_substep: true
      - label: (4) The community’s economy and tax base
        points: 5
        has_substeps: false
        is_substep: true
      - label: (5) Number and type of affected buildings
        points: 5
        has_substeps: false
        is_substep: true
      - label: "c. Review of all damaged buildings/flood insurance claims. RL Category: [A,B,C]"
        points: 5
        has_substeps: false
        is_substep: false
      - label: d. Areas the provide natural floodplain functions
        points: 5
        has_substeps: false
        is_substep: false
      - label: e. Development/redevelopment/Population Trends
        points: 7
        has_substeps: false
        is_substep: false
      - label: 'f. Impact of future flooding conditions outline in Step 4, item c'
        points: 5
        has_substeps: false
        is_substep: false
  - name: Set goals
    maxpoints: 2
    steps:
      - label: 
        points: 2
        has_substeps: false
        is_substep: false
  - name: Review possible activities
    maxpoints: 35
    steps:
      - label: a. Preventive activities
        points: 5
        has_substeps: false
        is_substep: false
      - label: b. Floodplain Management Regulatory/current & future conditions
        points: 5
        has_substeps: false
        is_substep: false
      - label: c. Property protection activities
        points: 5
        has_substeps: false
        is_substep: false
      - label: d. Natural resource protection activities
        points: 5
        has_substeps: false
        is_substep: false
      - label: e. Emergency services activities
        points: 5
        has_substeps: false
        is_substep: false
      - label: f. Structural projects
        points: 5
        has_substeps: false
        is_substep: false
      - label: g. Public information activities
        points: 5
        has_substeps: false
        is_substep: false
  - name: Draft an action plan
    maxpoints: 60
    steps:
      - label: 'a. Actions must be prioritized [ REQUIRED ]'
        points: 45
        has_substeps: true
        is_substep: false
      - label: (1) Recommendations for activities from two of the six categories
        points: 10
        has_substeps: false
        is_substep: true
      - label: (2) Recommendations for activities from three of the six categories
        points: 20
        has_substeps: false
        is_substep: true
      - label: (3) Recommendations for activities from four of the six categories
        points: 30
        has_substeps: false
        is_substep: true
      - label: (4) Recommendations for activities from five of the six categories
        points: 45
        has_substeps: false
        is_substep: true
      - label: b. Post-disaster mitigation policies and procedures
        points: 10
        has_substeps: false
        is_substep: false
      - label: c. Action items for mitigation of other hazards
        points: 5
        has_substeps: false
        is_substep: false
  - name: Adopt the plan
    maxpoints: 2
    steps:
      - label: ''
        points: 2
        has_substeps: false
        is_substep: false
  - name: 'Implement, evaluate and revise'
    maxpoints: 26
    steps:
      - label: 'a. Procedures to monitor and recommend revisions [ REQUIRED ]'
        points: 2
        has_substeps: false
        is_substep: false
      - label: >-
          b. Same planning committee or successor committee that qualifies under
          Section 511.a.2 (a) does the evaluation
        points: 24
        has_substeps: false
        is_substep: false
---

{% assign alphabet = "abcdefghijklmnopqrstuvwxyz" | split: "" %}

<form class="row mt-4">
  <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 form-group mb-2">
    <label for="inputPassword2" class="sr-only">Insert Name of the Plan</label>
    <input type="text" class="browser-default form-control" id="inputPassword2" placeholder="Insert Name of the Plan" autofocus>
  </div>
</form>

<table class="table table-sm table-bordered table-hover worksheet-table mb-0">
  <caption class="sr-only">{{ title }}</caption>
  <thead>
    <tr>
      <th class="bg-bg-blue align-middle" scope="col">CRS Step</th>
      <th class="bg-bg-blue align-middle" scope="col">Section / Page</th>
      <th class="bg-bg-blue align-middle text-center" scope="col">Max Pts</th>
      <th class="bg-bg-blue align-middle text-center" scope="col" style="width:10px;">Score</th>
    </tr>
  </thead>
  <tbody>
  {% for topic in fmptopics %}
    {% assign outerloop = forloop.index %}
    {% assign stepsSize = topic.steps | size %}
      {% if stepsSize > 1 %}
        {% for step in topic.steps %}
          {% if forloop.first %}
            <tr>
              <th colspan="4" class="align-top">{{ outerloop }}. {{ topic.name }} <span
                class="font-weight-normal text-muted">(Maximum points: {{ topic.maxpoints }})</span>
              </th>
            </tr>
          {% endif %}
          <tr>
            {% if step.has_substeps == true %}
              <td colspan="4" class="align-middle{% if step.is_substep == true %} pl-5{% else %} pl-4{% endif %}">
                {{ step.label }} <span class="text-muted">(Maximum points: {{ step.points }})</span>
              </td>
            {% else %}
              <td class="align-middle{% if step.is_substep == true %} pl-5{% else %} pl-4{% endif %}">
                {{ step.label }}
              </td>
              <td class="text-center align-middle">
                  <label for="sp_t{{ outerloop }}-s{{ forloop.index }}" class="sr-only">Example label</label>
                  <input type="text" class="browser-default form-control browser-default form-control-sm" id="sp_t{{ outerloop }}-s{{ forloop.index }}" placeholder="{% if outerloop == 9 %}{{ 'Insert Adoption Date' }}{% endif %}">
              </td>
              <td class="text-center align-middle text-muted">
                {{ step.points }}
              </td>
              <td class="text-center align-middle">
                <label for="score_t{{ outerloop }}-s{{ forloop.index }}" class="sr-only">Example label</label>
                <input type="text" inputmode="numeric" pattern="[0-{{ step.points }}]+"
                  class="browser-default form-control browser-default form-control-sm text-center" id="score_t{{ outerloop }}-s{{ forloop.index }}" placeholder="0">
              </td>
            {% endif %}
          </tr>
          {% if forloop.last %}
            <tr>
              <td colspan="3" class="font-weight-bold text-right">Step {{ outerloop }}:</td>
              <td class="font-weight-bold text-center">0</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for step in topic.steps %}
          <tr>
            <th class="align-top">{{ outerloop }}. {{ topic.name }} <span
              class="font-weight-normal text-muted">(Maximum points: {{ topic.maxpoints }})</span>
            </th>
            <td class="text-center align-middle">
              {%  unless step.has_substeps == true %}
                <label for="sp_t{{ outerloop }}-s{{ forloop.index }}" class="sr-only">Example label</label>
                  <input type="text" class="browser-default form-control browser-default form-control-sm" id="sp_t{{ outerloop }}-s{{ forloop.index }}" placeholder="{% if outerloop == 9 %}{{ 'Insert Adoption Date' }}{% endif %}">
              {% endunless %}
            </td>
            <td class="text-center align-middle text-muted">
              {% unless step.has_substeps == true %}{{ step.points }}{% endunless %}
            </td>
            <td class="text-center align-middle">
              {% unless step.has_substeps == true %}
                <label for="score_t{{ outerloop }}-s{{ forloop.index }}" class="sr-only">Example label</label>
                <input type="text" inputmode="numeric" pattern="[0-{{ step.points }}]+"
                  class="browser-default form-control browser-default form-control-sm text-center" id="score_t{{ outerloop }}-s{{ forloop.index }}" placeholder="0">
              {% endunless %}
            </td>
          </tr>
          {% if forloop.last %}
            <tr>
              <td colspan="3" class="font-weight-bold text-right">Step {{ outerloop }}:</td>
              <td class="font-weight-bold text-center">0</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="5" class="text-right text-purple">FMP = 0</th>
    </tr>
  </tfoot>
</table>
