---
title: 530Credit • Flood Protection Credit Worksheet
sheet_type: modal
fpcccitems:
  - address: 1924 Lorraine Place
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the SFHA
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 1301 Maple Avenue
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Regular building in the SFHA
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 2729 Pine Street
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the SFHA
    num_of_buildings: 3
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1.5
  - address: 842 Willow Lane
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the X Zone
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 604 Cedar Court
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the SFHA
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 1112 Oak Drive
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the X Zone
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 1756 Birch Boulevard
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Critical Facility protected to the 500yr flood level
    num_of_buildings: 4
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 3
  - address: 923 Elmwood Road
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Other Critical Facility
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 2215 Sycamore Drive
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the SFHA
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1.5
  - address: 4895 Juniper Street
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Regular building in the SFHA
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 3114 Magnolia Lane
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the X Zone
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 3654 Oakwood Avenue
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the X Zone
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 1203 Poplar Street
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the SFHA
    num_of_buildings: 3
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 4326 Redwood Lane
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Regular building in the SFHA
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 5631 Aspen Court
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the SFHA
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1.5
  - address: 2119 Spruce Street
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Critical Facility protected to the 500yr flood level
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 3
  - address: 6547 Beech Drive
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the X Zone
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 1238 Hemlock Lane
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Repetitive Loss building in the X Zone
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 1
  - address: 8549 Pinecrest Avenue
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Other Critical Facility
    num_of_buildings: 1
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 3256 Cypress Lane
    fma_grant?: 'n'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Severe Repetitive Loss building in the SFHA
    num_of_buildings: 2
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 2
  - address: 5410 Mulberry Street
    fma_grant?: 'y'
    fpp: 0
    fpb: 0
    fpi: 0
    tu: 0
    pb: 0
    building_type: Critical Facility protected to the 500yr flood level
    num_of_buildings: 3
    num_buildings_fma_and_tu: 0
    pb_fma_multiplier: 3
---

<table id="table-1" class="table table-sm table-bordered table-hover worksheet-table mb-0 active">
  <caption class="sr-only">
    {{
      title
    }}
  </caption>
  <thead>
    <tr>
      <th class="text-center">Actions</th>
      <th class="text-center">Bldg #</th>
      <th>Address</th>
      <th class="text-center">FMA Grant?</th>
      <th class="text-center">TU_ <br>(Technique Used)</th>
      <th>Building Type</th>
      <th class="text-center">No. of Buildings</th>
      <th class="text-center" style="width:min-content;">No. of Buildings w/ FMA Multiplier and TU</th>
    </tr>
  </thead>
  <tbody>
    {% for item in fpcccitems %}
    <tr>
      <td class="text-center text-text-ph"><span class="material-symbols-outlined">delete</span><span data-toggle="modal"
    data-target="#exampleModal2" class="ml-2  material-symbols-outlined">edit</span></td>
      <td class="text-center"><strong>{{ forloop.index }}</strong></td>
      <td>{{ item.address }}</td>
      <td class="text-center">{{ item.fma_grant? }}</td>
      <td class="text-center">{{ item.tu }}</td>
      <td>{{ item.building_type }}</td>
      <td class="text-center">{{ item.num_of_buildings }}</td>
      <td class="text-center" style="width:min-content;">{{ item.num_buildings_fma_and_tu }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td scope="row" colspan="7" class="text-right text-purple mr-3"><strong>Option 1:</strong><span class="d-block text-muted">c530 = 2.4 x Total No. of Buildings that qualify x Technique Used (TU)</span></td>
      <td scope="row" class="text-center text-purple align-middle font-weight-bold">0</td>
    </tr>
  </tfoot>
</table>

<table id="table-2" class="table table-sm table-bordered table-hover worksheet-table mb-0 active">
  <caption class="sr-only">
    {{
      title
    }}
  </caption>
  <thead>
    <tr>
      <th class="text-center">Actions</th>
      <th class="text-center">Bldg #</th>
      <th>Address</th>
      <th class="text-center">FMA Grant?</th>
      <th class="text-center">FPP<br>(Post-Project)</th>
      <th class="text-center">FPB<br>(Pre-Project)</th>
      <th class="text-center">FPI<br>(FPP - FBP)</th>
      <th class="text-center">TU_ <br>(Technique Used)</th>
      <th class="text-center">PB<br>(TU x FPI)</th>
      <th>Building Type</th>
      <th class="text-center">No. of Buildings</th>
      <th class="text-center" style="width:min-content;">PB w/ FMA Multiplier</th>
    </tr>
  </thead>
  <tbody>
    {% for item in fpcccitems %}
    <tr>
      <td class="text-center text-text-ph"><span class="material-symbols-outlined">delete</span><span data-toggle="modal"
    data-target="#exampleModal2" class="ml-2  material-symbols-outlined">edit</span></td>
      <td class="text-center"><strong>{{ forloop.index }}</strong></td>
      <td>{{ item.address }}</td>
      <td class="text-center">{{ item.fma_grant? }}</td>
      <td class="text-center">{{ item.fpp }}</td>
      <td class="text-center">{{ item.fpb }}</td>
      <td class="text-center">{{ item.fpi }}</td>
      <td class="text-center">{{ item.tu }}</td>
      <td class="text-center">{{ item.pb }}</td>
      <td>{{ item.building_type }}</td>
      <td class="text-center">{{ item.num_of_buildings }}</td>
      <td class="text-center" style="width:min-content;">{{ item.pb_fma_multiplier }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td scope="row" colspan="11" class="text-right text-purple mr-3"><strong>Option 2:</strong><span class="d-block text-muted">c530 = 16 x ΣPB x 100 / bSF</span></td>
      <td scope="row" class="text-center text-purple align-middle font-weight-bold">0</td>
    </tr>
  </tfoot>
</table>

{% block modal %}

  <!-- Modal -->
  <div
    class="modal fade"
    id="modal-530"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Building</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>Address</legend>
            <label for="formGroupExampleInput" class="sr-only"
              >Address</label
            >
            <input
              type="text"
              class="browser-default form-control"
              id="formGroupExampleInput"
              placeholder="Enter the address"
            />
          </fieldset>
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>FMA Grant?</legend>
            <label for="formGroupExampleInput2" class="sr-only"
              >FMA Grant?</label
            >
            <select class="custom-select">
              <option selected value="N">No</option>
              <option value="Y">Yes</option>
            </select>
          </fieldset>
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>TU_ (Technique Used)</legend>
            <label for="formGroupExampleInput2" class="sr-only">TU (Technique Used)</label>
              <select class="custom-select">
                <option value="" selected disabled>-- select --</option>
                <optgroup label="TUE • Elevation">
                  <option value="TUE 1.0">TUE = 1.0, if the building is elevated</option>
                </optgroup>
                <optgroup label="TUD • Dry floodproofing">
                  <option value="TUD = 0.6">TUD = 0.6, if designed by a registered design professional with drainage provisions</option>
                  <option value="TUD = 0.4">TUD = 0.4, if no human intervention required to close openings, 3 ft or less protection above first floor, drainage provisions, and no basement</option>
                  <option value="TUD = 0.2">TUD= 0.2, for all other cases, including without documented drainage provisions</option>
                </optgroup>
                <optgroup label="TUW • Wet floodproofing">
                  <option value="TUW = 0.5">TUW = 0.5, If designed by a registered design professional</option>
                  <option value="TUW = 0.3">TUW = 0.3, if not designed by a registered design professional</option>
                  <option value="TUW = 0.2">TUW = 0.2, if utilities are relocated above flood level</option>
                </optgroup>
                <optgroup label="TUS • Sewer backup">
                  <option value="TUS = 0.2">TUS = 0.2, if the building is located in the SFHA</option>
                  <option value="TUS = 0.1">TUS = 0.1, for outside SFHA with sewer backup prevention regulations</option>
                </optgroup>
                <optgroup label="TUB • Barrier, levee or floodwall">
                  <option value="TUB = 0.8">TUB = 0.8, if professionally designed and constructed with drainage provisions</option>
                  <option value="TUB = 0.4">TUB = 0.4, if not designed by a registered design professional but includes drainage provisions</option>
                </optgroup>
                <optgroup label="TUC • Channel modification, storm sewer improvements, diversions">
                  <option value="TUC = 0.8">TUC = 0.8, if design provides at least 1 ft clearance from flood protection level to obstructions</option>
                  <option value="TUC = 0.7">TUC = 0.7, for pump systems and all other cases</option>
                </optgroup>
                <optgroup label="TUF • Storage facilities">
                  <option value="TUF 0.8">TUF = 0.8, for all flood water storage facilities</option>
                </optgroup>
              </select>
              <details class="mt-2">
                <summary class="text-primary small">More info</summary>
                <table class="table table-sm table-bordered small">
                  <tbody>
                    <tr>
                      <th scope="row">TUE  Elevation</th>
                      <td class="text-monospace">1.0</td>
                      <td>If the building is elevated</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="3">TUD  Dry floodproofing</th>
                      <td class="text-monospace">0.6</td>
                      <td>If the project was designed by a registered design professional and the design accounts for openings, internal drainage, seepage, and underdrainage</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.4</td>
                      <td>If the project does not depend on human intervention to close openings; the project protects to a level less than 3 feet above the first floor; the design accounts for internal drainage, seepage, and underdrainage; and the building has no basement (i.e., any floor below grade on all sides).</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.2</td>
                      <td>For all other cases, including those for which there is no documentation of how openings, interior drainage, seepage, or underdrainage are handled</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="3">TUW  Wet floodproofing</th>
                      <td class="text-monospace">0.5</td>
                      <td>If the project was designed by a registered design professional.</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.3</td>
                      <td>If the project was not designed by a registered design professional.</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.2</td>
                      <td>If the furnace, water heater, electrical breaker box, and other utilities are relocated above flood level.</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="2">TUS  Sewer backup</th>
                      <td class="text-monospace">0.2</td>
                      <td>If the building is located in the SFHA.</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.1</td>
                      <td>For sewer backup prevention measures if the building is located outside of the SFHA and the community has a building code or other regulations that require positive drain sewers or other measures that prevent sewer backup into new buildings.</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="2">TUB  Barrier, levee or floodwall</th>
                      <td class="text-monospace">0.8</td>
                      <td>If the barrier was designed, and the construction approved by a registered design professional, and the design accounts for interior drainage, seepage, and underdrainage.</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.4</td>
                      <td>If the barrier was not designed by a registered design professional, but the design accounts for interior drainage, seepage, and underdrainage.</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="2">TUC  Channel modification, storm sewer improvements, diversions</th>
                      <td class="text-monospace">0.8</td>
                      <td>If the project design provides at least one foot of clearance between the flood protection level and bridge decks, top of pipe, and other obstructions.</td>
                    </tr>
                    <tr>
                      <td class="text-monospace">0.7</td>
                      <td>For pump systems and all other cases.</td>
                    </tr>
                    <tr>
                      <th scope="row">TUF  Storage facilities</th>
                      <td class="text-monospace">0.8</td>
                      <td>For all flood water storage facilities</td>
                    </tr>
                  </tbody>
                </table>
              </details>
          </fieldset>
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>Building Type</legend>
            <div class="form-group mb-0">
              <label for="formGroupExampleInput2" class="sr-only">Building Type</label>
              <select class="custom-select">
                <option disabled selected value> -- select -- </option>
                <option value="Regular building in the SFHA">Regular building in the SFHA</option>
                <option value="Repetitive Loss building in the SFHA">Repetitive Loss building in the SFHA</option>
                <option value="Repetitive Loss building in the X Zone">Repetitive Loss building in the X Zone</option>
                <option value="Severe Repetitive Loss building in the SFHA">Severe Repetitive Loss building in the SFHA
                </option>
                <option value="Severe Repetitive Loss building in the X Zone">Severe Repetitive Loss building in the X Zone
                </option>
                <option value="Critical Facility protected to the 500yr flood level">Critical Facility protected to the
                  500yr flood level</option>
                <option value="Other Critical Facility">Other Critical Facility</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="border mb-4 px-3 pb-3 pt-1">
            <legend>No. of Buildings</legend>
            <label for="formGroupExampleInput2" class="sr-only">No. of Buildings</label>
            <input
              type="text"
              inputmode="numeric"
              class="browser-default form-control"
              id="formGroupExampleInput2"
              placeholder="Enter a number"
            />
          </fieldset>
          <h5 class="px-3 mb-3 text-danger">**Option 2 Only</h5>
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>FPP (Post-Project)</legend>
            <label for="formGroupExampleInput" class="sr-only"
              >FPP (Post-Project)</label
            >
            <input
              type="text"
              inputmode="numeric"
              class="browser-default form-control"
              id="formGroupExampleInput"
              placeholder="Enter a number"
            />
            {% include "partials/fpp-fpb-details.liquid" %}
          </fieldset>
          <fieldset class="border mb-2 px-3 pb-3 pt-1">
            <legend>FPB (Pre-Project)</legend>
            <label for="formGroupExampleInput2" class="sr-only">FPB (Pre-Project)</label>
            <input
              type="text"
              inputmode="numeric"
              class="browser-default form-control"
              id="formGroupExampleInput2"
              placeholder="Enter a number"
            />
            {% include "partials/fpp-fpb-details.liquid" %}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-dark" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-purple" data-dismiss="modal">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script defer>
    document.addEventListener("DOMContentLoaded", function () {
      // Use querySelector with escaped ID: \\5 is how you escape 5
      const select = document.querySelector("[id='530select']");

      function updateView() {
        const selected = select.value; // Get the selected option's value

        // Remove "active" class from all tables
        document.querySelectorAll(".table").forEach(el => {
          el.classList.remove("active");
        });

        // Add "active" class to the selected table
        document.getElementById(`table-${selected}`).classList.add("active");
      }

      // Set default view
      updateView();

      // Listen for changes in dropdown selection
      select.addEventListener("change", updateView);
    });

    document.addEventListener("DOMContentLoaded", function () {
      $('#modal-530').on('hidden.bs.modal', function () {
        // Close any open <details>
        this.querySelectorAll('details[open]').forEach(detail => {
          detail.removeAttribute('open');
        });

        // Clear inputs (text, checkbox, radio, etc.)
        this.querySelectorAll('input').forEach(input => {
          if (input.type === 'checkbox' || input.type === 'radio') {
            input.checked = false;
          } else {
            input.value = '';
          }
        });

        // Also clear textareas
        this.querySelectorAll('textarea').forEach(textarea => {
          textarea.value = '';
        });

        // Reset selects
        this.querySelectorAll('select').forEach(select => {
          select.selectedIndex = 0;
        });
      });
    });

  </script>

  </script>
{% endblock %}
